{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 25 Apr 2022 23:21:36 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PC4APY6QGkaq0xxLKQycxA.0",
        "X-Processing-Time": "62ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-75be-83fe-0848220003db"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 25 Apr 2022 23:21:37 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-75be-83fe-0848220003db": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-76b0-83fe-0848220003dc": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99454368273283047",
        "MS-CV": "gR8mvfwj3kKNoZo1aVEH/w.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99454368273283047",
          "createdDateTime": "2022-04-25T23:21:39.7072079\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-75be-83fe-0848220003db": {
              "role": "Presenter"
            },
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-76b0-83fe-0848220003dc": {
              "role": "Attendee"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99454368273283047?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 25 Apr 2022 23:21:38 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5JGIAhRijk2TICrYfpbrbw.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99454368273283047",
          "createdDateTime": "2022-04-25T23:21:39.7072079\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-75be-83fe-0848220003db": {
              "role": "Presenter"
            },
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-02e9-76b0-83fe-0848220003dc": {
              "role": "Attendee"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99454368273283047?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 25 Apr 2022 23:21:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "tWCWWBIhD0CM\u002Bq75cKdP9Q.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "420067238"
  }
}
