{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:15.6619349Z",
        "Repeatability-Request-ID": "088b8235-1fc4-4a61-82ae-e827622e4ad5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:15 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:15.6617179Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99461343198958924",
        "MS-CV": "yJebTlRiYk\u002BVyJYYuuqEeA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99461343198958924",
        "createdDateTime": "2022-06-21T20:49:15.9270007\u002B00:00",
        "validFrom": "2022-06-21T20:49:15.6617179\u002B00:00",
        "validUntil": "2022-12-18T20:49:15.8815219\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99461343198958924?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:16 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:15.6617179Z",
        "validUntil": "2022-06-22T20:49:15.6617179Z",
        "roomOpen": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "RKSJl5zky0ea1xvjbrIDuQ.0"
      },
      "ResponseBody": {
        "id": "99461343198958924",
        "createdDateTime": "2022-06-21T20:49:15.9270007\u002B00:00",
        "validFrom": "2022-06-21T20:49:15.6617179\u002B00:00",
        "validUntil": "2022-06-22T20:49:15.6617179\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99461343198958924?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "pe2l0VmYo0CnE\u002BspmLI/pQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1541990937"
  }
}
