{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:14.6130823Z",
        "Repeatability-Request-ID": "1e06f6ba-d5c5-49e1-bf49-35ffd402dbec",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:14 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:14.6128531Z",
        "validUntil": "2022-06-22T20:49:14.6128531Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99447683735143249",
        "MS-CV": "Fim\u002BdAlwKkGISH54dke1aA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99447683735143249",
        "createdDateTime": "2022-06-21T20:49:14.8789916\u002B00:00",
        "validFrom": "2022-06-21T20:49:14.6128531\u002B00:00",
        "validUntil": "2022-06-22T20:49:14.6128531\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99447683735143249?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "X7cCUt7syES3m2LVFVi4cg.0"
      },
      "ResponseBody": {
        "id": "99447683735143249",
        "createdDateTime": "2022-06-21T20:49:14.8789916\u002B00:00",
        "validFrom": "2022-06-21T20:49:14.6128531\u002B00:00",
        "validUntil": "2022-06-22T20:49:14.6128531\u002B00:00",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99447683735143249?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "aUwgKXrOOk2WCJ0\u002BNxNH6g.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "863398965"
  }
}
