{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-04-30T01:12:28.0878845Z",
        "Repeatability-Request-ID": "f0b36007-ba08-40fd-a63a-4ece42fb9412",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:28 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99441627964552322",
        "MS-CV": "tunLgvjkLUWX0buwbH//DA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99441627964552322",
        "createdDateTime": "2022-04-30T01:12:26.7023555\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-10-27T01:12:26.5950935\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99441627964552322?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:28 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KeVdN3j49Eq5VIkE\u002Bs9hgA.0"
      },
      "ResponseBody": {
        "id": "99441627964552322",
        "createdDateTime": "2022-04-30T01:12:26.7023555\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-05-02T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99441627964552322?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "P\u002BMtWEFPvUS2pqN8JHnCRg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "994114217"
  }
}
