{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:24.1301054Z",
        "Repeatability-Request-ID": "885239ff-5f35-43d7-b5c7-464649ed396c",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:24 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:24.1299067Z",
        "validUntil": "2022-06-22T20:49:24.1299067Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99414913760263886",
        "MS-CV": "M4TjBiAwP0adPONucGrbnQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99414913760263886",
        "createdDateTime": "2022-06-21T20:49:24.6012569\u002B00:00",
        "validFrom": "2022-06-21T20:49:24.1299067\u002B00:00",
        "validUntil": "2022-06-22T20:49:24.1299067\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99414913760263886?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xSAYL\u002BHmMUeAKVbctdvuvw.0"
      },
      "ResponseBody": {
        "id": "99414913760263886",
        "createdDateTime": "2022-06-21T20:49:24.6012569\u002B00:00",
        "validFrom": "2022-06-21T20:49:24.1299067\u002B00:00",
        "validUntil": "2022-06-22T20:49:24.1299067\u002B00:00",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99414913760263886?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "/jyg5As1306P8cSOHZtYgw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1702427278"
  }
}
