{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:26.1945535Z",
        "Repeatability-Request-ID": "c5540d87-569d-47ea-ab59-280e82ac97c0",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:26 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:26.1944179Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99434101601588583",
        "MS-CV": "QbzAh04tVUCnPjDvOVm22A.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99434101601588583",
        "createdDateTime": "2022-06-21T20:49:26.4962938\u002B00:00",
        "validFrom": "2022-06-21T20:49:26.1944179\u002B00:00",
        "validUntil": "2022-12-18T20:49:26.4180368\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99434101601588583?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:26 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:26.1944179Z",
        "validUntil": "2022-06-22T20:49:26.1944179Z",
        "roomOpen": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HwThyUcgeUOAtU6rbei60w.0"
      },
      "ResponseBody": {
        "id": "99434101601588583",
        "createdDateTime": "2022-06-21T20:49:26.4962938\u002B00:00",
        "validFrom": "2022-06-21T20:49:26.1944179\u002B00:00",
        "validUntil": "2022-06-22T20:49:26.1944179\u002B00:00",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99434101601588583?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "WrPog/dRlEK2DaDoyJpBpw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "733235733"
  }
}
