{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:12:08.1259261Z",
        "Repeatability-Request-ID": "6a2c97dd-c079-43d2-9744-5ae06d821054",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:08 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99461088888680603",
        "MS-CV": "oCghc5J9/Ump\u002BxZxi81OOw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99461088888680603",
        "createdDateTime": "2022-05-17T00:12:08.352057\u002B00:00",
        "validFrom": "2022-05-17T00:12:08.2640437\u002B00:00",
        "validUntil": "2022-11-13T00:12:08.2640437\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99461088888680603?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "aKVWEWp7C0GFwz9jZXSCBQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1933201544"
  }
}
