{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:12:05.9794022Z",
        "Repeatability-Request-ID": "209f3637-3664-4c04-a9b9-6d54f5e4b0d1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:05 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99427527868780564",
        "MS-CV": "Sc3zYoNfk0G6t3DgzAzDEw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99427527868780564",
        "createdDateTime": "2022-05-17T00:12:06.2130787\u002B00:00",
        "validFrom": "2022-06-01T00:00:00\u002B00:00",
        "validUntil": "2022-11-13T00:12:06.126605\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99427527868780564?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "96P8hDAttkC0IN3ji2yp4g.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "417468117"
  }
}
