{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:12:05.7084831Z",
        "Repeatability-Request-ID": "4ed644d5-1673-4482-b959-d28256ee15f1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:05 GMT"
      },
      "RequestBody": {
        "participants": {
          "wrongMri1": {
            "role": "Presenter"
          },
          "wrongMri2": {
            "role": "Organizer"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UQrxxCQAGEmt7UtzNXxPHg.0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The value provided for Participants is invalid."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "708760128"
  }
}
