{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:11:45.6306985Z",
        "Repeatability-Request-ID": "10cd592f-b346-4830-8ac9-fc8e8295014f",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:45 GMT"
      },
      "RequestBody": {
        "validUntil": "2022-06-02T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99468215027946608",
        "MS-CV": "4u\u002BXIP7goUCMwxhS4bmsWg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99468215027946608",
        "createdDateTime": "2022-05-17T00:11:45.8686816\u002B00:00",
        "validFrom": "2022-05-17T00:11:45.7828593\u002B00:00",
        "validUntil": "2022-06-02T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99468215027946608?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "ZvmvbM7P0EGz5iFi1pBSHw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1237970713"
  }
}
