{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:11:49.7515438Z",
        "Repeatability-Request-ID": "3177e971-d3ba-4fd2-ae6b-a7ff4ac543ab",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:49 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9945371827144815",
        "MS-CV": "psPwsKmHbUG5HaLXbZZlQA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9945371827144815",
        "createdDateTime": "2022-05-17T00:11:50.0211874\u002B00:00",
        "validFrom": "2022-06-01T00:00:00\u002B00:00",
        "validUntil": "2022-11-13T00:11:49.9340521\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/9945371827144815?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:50 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-01T00:00:00.0000000Z",
        "validUntil": "2022-06-02T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sqx6W\u002BTGwUyUzmNBg5UOsg.0"
      },
      "ResponseBody": {
        "id": "9945371827144815",
        "createdDateTime": "2022-05-17T00:11:50.0211874\u002B00:00",
        "validFrom": "2022-06-01T00:00:00\u002B00:00",
        "validUntil": "2022-06-02T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/9945371827144815?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "fL3xNW7ZNE2Tfeb3UG9HSA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "958345236"
  }
}
