{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:11:57.5215839Z",
        "Repeatability-Request-ID": "bfafbd20-d922-4f9b-8350-670bd1803f0e",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:57 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-01T00:00:00.0000000Z",
        "validUntil": "2022-06-03T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99464136769869422",
        "MS-CV": "VuE537ybSU\u002BjuM/4k7kfSA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99464136769869422",
        "createdDateTime": "2022-05-17T00:11:57.7480951\u002B00:00",
        "validFrom": "2022-06-01T00:00:00\u002B00:00",
        "validUntil": "2022-06-03T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99464136769869422?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:57 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-02T00:00:00.0000000Z",
        "validUntil": "2022-06-03T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tyyzxFUmLU\u002B05uvyqzNtyg.0"
      },
      "ResponseBody": {
        "id": "99464136769869422",
        "createdDateTime": "2022-05-17T00:11:57.7480951\u002B00:00",
        "validFrom": "2022-06-02T00:00:00\u002B00:00",
        "validUntil": "2022-06-03T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99464136769869422?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:11:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "e8rHcb7xfU\u002BvLX9SBXBlSg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "907548390"
  }
}
