{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:12:00.1694723Z",
        "Repeatability-Request-ID": "e9711d23-94d6-424e-832f-b30e78c1f0c7",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:00 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-01T00:00:00.0000000Z",
        "validUntil": "2022-06-02T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99453923906313205",
        "MS-CV": "vPyjhK175EiiFpSsbPE3nQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99453923906313205",
        "createdDateTime": "2022-05-17T00:12:00.4130772\u002B00:00",
        "validFrom": "2022-06-01T00:00:00\u002B00:00",
        "validUntil": "2022-06-02T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99453923906313205?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:00 GMT"
      },
      "RequestBody": {
        "participants": {
          "wrongMri1": {
            "role": "Presenter"
          },
          "wrongMri2": {
            "role": "Organizer"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0UDKl3pqrkK4ykwTOwNJTA.0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The value provided for Participants is invalid."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "276838958"
  }
}
