{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:29 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5rlsdH4va0aWRhVqEQY9Ww.0",
        "X-Processing-Time": "32ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a5ac-07fd-08482200634b"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:29.6122102Z",
        "Repeatability-Request-ID": "19b3e4f0-c54c-4471-80ae-3ae898498228",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:29 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:29.6120812Z",
        "validUntil": "2022-06-22T20:49:29.6120812Z",
        "roomOpen": false,
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a5ac-07fd-08482200634b"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a64e-07fd-08482200634c"
              }
            },
            "role": "Presenter"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442442747164727",
        "MS-CV": "P27MsXObQEG2gWM36lhztQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99442442747164727",
        "createdDateTime": "2022-06-21T20:49:29.9015546\u002B00:00",
        "validFrom": "2022-06-21T20:49:29.6120812\u002B00:00",
        "validUntil": "2022-06-22T20:49:29.6120812\u002B00:00",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a5ac-07fd-08482200634b",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a5ac-07fd-08482200634b"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a64e-07fd-08482200634c",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a64e-07fd-08482200634c"
              }
            },
            "role": "Presenter"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99442442747164727/participants:update?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:29 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
        [...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99442442747164727/participants?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Tji8OpjXX0uQK8uFcfvdGg.0"
      },
      "ResponseBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a5ac-07fd-08482200634b",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a5ac-07fd-08482200634b"
              }
            },
            "role": "Consumer"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a64e-07fd-08482200634c",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-a64e-07fd-08482200634c"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99442442747164727?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "vAtQmRTBtE\u002B2RqV3D6JVRw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "939412918"
  }
}
