{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:22 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9HbNasiFhE\u002B7yBHiZbdF6Q.0",
        "X-Processing-Time": "29ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-40c1-07fd-084822008f02"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-04-30T01:12:23.4432056Z",
        "Repeatability-Request-ID": "f41d7d7f-68b9-4ac7-83bc-6e8bfdb0addd",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:23 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-40c1-07fd-084822008f02": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-437e-07fd-084822008f03": {
            "role": "Organizer"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99461237260545703",
        "MS-CV": "pgiul2o9ZEWMeXDKIx\u002BMtA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99461237260545703",
        "createdDateTime": "2022-04-30T01:12:22.0473268\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-05-02T00:00:00\u002B00:00",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-40c1-07fd-084822008f02": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-437e-07fd-084822008f03": {
            "role": "Organizer"
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99461237260545703?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:23 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99461237260545703?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "MJ8Pl\u002BAGlEG6J/Rke6uvmQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "776938806"
  }
}
