{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-05-17T00:12:20.6363276Z",
        "Repeatability-Request-ID": "fd7e10a3-be9b-47a9-9c3d-bf497589c1a4",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:20 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-01T00:00:00.0000000Z",
        "validUntil": "2022-06-02T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99443472988840405",
        "MS-CV": "c\u002B2pUglxGUm7Z1QM6EFypw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99443472988840405",
        "createdDateTime": "2022-05-17T00:12:20.8968502\u002B00:00",
        "validFrom": "2022-06-01T00:00:00\u002B00:00",
        "validUntil": "2022-06-02T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99443472988840405?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 May 2022 00:12:21 GMT"
      },
      "RequestBody": {
        "participants": {
          "wrongMri1": {
            "role": "Presenter"
          },
          "wrongMri2": {
            "role": "Organizer"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fPjvPUtELUuMcU5Q7CUpVw.0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The value provided for Participants is invalid."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "226003327"
  }
}
