{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/operatorInformation/:search?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 30 May 2023 21:52:54 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "Sanitized",
          "Sanitized"
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-05-01-preview",
        "Content-Type": "application/json",
        "MS-CV": "0taK7JK\u002Ba0iH2BH7NueR5A.0",
        "X-Processing-Time": "10ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1775822433"
  }
}
