{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:13 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "igFdLCjwd0KUNGCOziFeAw.0",
        "X-Processing-Time": "29ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-3f27-88f7-08482200b1ad"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:14 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-3f27-88f7-08482200b1ad": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-3fe8-88f7-08482200b1ae": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99418802307126480",
        "MS-CV": "Q1QR3mIFek2SB2rMZPaGlQ.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99418802307126480",
          "createdDateTime": "2022-04-23T00:17:13.0355808\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-3f27-88f7-08482200b1ad": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-3fe8-88f7-08482200b1ae": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99418802307126480?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:15 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99418802307126480?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "YdqGSyc\u002B3k2Pbt5C10mECQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "91578806"
  }
}
