{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:03 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "e3hvBAARr0\u002Bv4IroNC\u002BEyw.0",
        "X-Processing-Time": "187ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-18e7-88f7-08482200b1a1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:06 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-18e7-88f7-08482200b1a1": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-1c96-88f7-08482200b1a2": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99424261745858120",
        "MS-CV": "RB/758sxJU6A3dPfgjbIXQ.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99424261745858120",
          "createdDateTime": "2022-04-23T00:17:04.9406217\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-18e7-88f7-08482200b1a1": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-1c96-88f7-08482200b1a2": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99424261745858120?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:06 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99424261745858120?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "iesookIqIUGhTtpRDQXcgA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "698680369"
  }
}
