{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yMWcMBySkEOHpplNQwSV9Q.0",
        "X-Processing-Time": "61ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-4877-88f7-08482200b1b2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:16 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-4877-88f7-08482200b1b2": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-493d-88f7-08482200b1b3": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99465916628011923",
        "MS-CV": "s8EEJ04J10GuL8LG9zC8Zw.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99465916628011923",
          "createdDateTime": "2022-04-23T00:17:14.8168202\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-4877-88f7-08482200b1b2": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-493d-88f7-08482200b1b3": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99465916628011923?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:16 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-4877-88f7-08482200b1b2": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-493d-88f7-08482200b1b3": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "A2jhD1m560\u002BvEkeHfNVSHg.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99465916628011923",
          "createdDateTime": "2022-04-23T00:17:14.8168202\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-4877-88f7-08482200b1b2": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3a9-493d-88f7-08482200b1b3": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99465916628011923?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:17:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "zs\u002BlW6JhxkK0t\u002BCvYC/Mlw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1142459519"
  }
}
