{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:39 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TJvPS\u002Bw1U0CbJj9D19ewcQ.0",
        "X-Processing-Time": "39ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cef0-07fd-08482200636b"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:40.2031843Z",
        "Repeatability-Request-ID": "315a4cd1-7a4a-4cdf-a1a2-3b1743d03066",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:40 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:40.2029678Z",
        "validUntil": "2022-06-22T20:49:40.2029678Z",
        "roomOpen": false,
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cef0-07fd-08482200636b"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cf4d-07fd-08482200636c"
              }
            },
            "role": "Attendee"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450908321313966",
        "MS-CV": "fktFk2woKEu6UUKtOFaPyw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99450908321313966",
        "createdDateTime": "2022-06-21T20:49:40.4682496\u002B00:00",
        "validFrom": "2022-06-21T20:49:40.2029678\u002B00:00",
        "validUntil": "2022-06-22T20:49:40.2029678\u002B00:00",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cef0-07fd-08482200636b",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cef0-07fd-08482200636b"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cf4d-07fd-08482200636c",
              "communicationUser": {
                "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-cf4d-07fd-08482200636c"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99450908321313966/participants:add?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:40 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
           [...]
