{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:37 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tt6tj1NHhES9DY46QkOuww.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-7cbb-07fd-084822008f13"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-04-30T01:12:38.9553538Z",
        "Repeatability-Request-ID": "0406e3cf-8969-4fd7-a463-a877e2d0498b",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:38 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-7cbb-07fd-084822008f13": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-7dec-07fd-084822008f14": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99445989349157522",
        "MS-CV": "kMQFLBuuYUy72xrj0q5PtA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99445989349157522",
        "createdDateTime": "2022-04-30T01:12:37.568758\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-05-02T00:00:00\u002B00:00",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-7cbb-07fd-084822008f13": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-17e8-7dec-07fd-084822008f14": {
            "role": "Attendee"
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99445989349157522?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 30 Apr 2022 01:12:39 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-[...]
