{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:41 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZKlUbmZ\u002BRU68RPrN/5j8yA.0",
        "X-Processing-Time": "29ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-d606-07fd-084822006370"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:41.8956763Z",
        "Repeatability-Request-ID": "20223699-d4be-45f9-829e-0bdef0c4124e",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:41 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:41.8955135Z",
        "validUntil": "2022-06-22T20:49:41.8955135Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99429175824680447",
        "MS-CV": "fTVs\u002BCD\u002B5kKzv4nDOTqrtg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99429175824680447",
        "createdDateTime": "2022-06-21T20:49:42.1919647\u002B00:00",
        "validFrom": "2022-06-21T20:49:41.8955135\u002B00:00",
        "validUntil": "2022-06-22T20:49:41.8955135\u002B00:00",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1425670364"
  }
}
