{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:28:21 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hVZ7pRjbCkOYMTt066I12Q.0",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-f3b3-6ebf-07fd-08482200a4e1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Apr 2022 00:28:21 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450033444621604",
        "MS-CV": "ILBRvOHeFUiaRu9OjQF2pQ.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99450033444621604",
          "createdDateTime": "2022-04-23T00:28:20.0092169\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "613566087"
  }
}
