{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:36 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Bt\u002BpZ7KZBEGvCXarZVoGQg.0",
        "X-Processing-Time": "36ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-27e8-c17e-07fd-084822006360"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-06-21T20:49:36.6378308Z",
        "Repeatability-Request-ID": "8e679eb8-da3d-4726-8bee-2e3d93b0ef45",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Jun 2022 20:49:36 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-06-21T20:49:36.6376796Z",
        "validUntil": "2022-06-22T20:49:36.6376796Z",
        "roomOpen": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99477131034043201",
        "MS-CV": "AOY2L\u002B1F6Ee0Jhki1O1qZA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99477131034043201",
        "createdDateTime": "2022-06-21T20:49:36.9426584\u002B00:00",
        "validFrom": "2022-06-21T20:49:36.6376796\u002B00:00",
        "validUntil": "2022-06-22T20:49:36.6376796\u002B00:00",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "249832480"
  }
}
